body {
    background: #e6e6e6;
}


.task-heading {
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: bold;
    color: #6FDA44;
    font-size: 57px; 
    
}


.app-heading {
    background: #ffffe6;
    font-family: 'Barlow Condensed', sans-serif;
    text-align: center; 
    font-size: 30px;
    border: 2px solid #D7D9DA;
    border-radius: 10px;
    margin-top: 5px;
    margin-bottom: 30px;
    padding: 12px;
}


.tasks-heading {
    text-align: center;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 30px;
    color: #ffffe6;
    margin-bottom: 20px;
    margin-top: 50px;
}


.adjustment {
    margin-top: 110px;
    min-height: 600px;
    background-color: #0077B5;
    border: 1px solid black;
    padding: 60px;
    border-radius: 10px;
}


ul {
   list-style: none;
}

li {
    margin-left: -40px;
}


.colection-item {
    padding: 5px 15px;
    border: 1px solid black;
    background: #ffffe6;
    border-radius: 10px;
    margin-bottom: 5px;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 22px;   
}


.fa-remove {
    float: right; 
}


@media (max-width: 480px) {
    
    .adjustment {
        padding: 40px;
        padding-top: 120px;
        padding-bottom: 420px;
        margin-top: -5px;
    }

    .task-heading {
      font-size: 40px;  
    }
    
    .app-heading {
      font-size: 27px;  
    }

    .colection-item {
     font-size: 19px;
    } 
 
}